<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Language" content="nl">
    <meta name="google" content="notranslate">
    <link href="{{ asset('scss/app.css') }}" rel="stylesheet">
</head>
<div id="app">
    <nav>
        {% if not app.user %}
            {% else %}
        <img src="{{ asset('img/logo_delen.svg') }}" alt="Logo">
        <a href="{{ path('logout') }}"></a>
        {% endif %}
    </nav>
</div>
{% block content %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" >
        function showRemarkForm() {
            document.getElementById("remarkform").classList.remove("hide");
        }
        function hideRemarkForm() {
            document.getElementById("remarkform").classList.add("hide");
        }
        function setVisible() {
            if(document.getElementById("eye").classList.contains("yes")){
                document.getElementById("eye").classList.remove("yes");
                document.getElementById("eyevalue").removeAttribute('checked');
            }else{
                document.getElementById("eye").classList.add("yes");
                document.getElementById("eyevalue").setAttribute('checked', 'checked');
            }

        }
    </script>
{% endblock %}
</body>
</html>
