<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="nl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Language" content="nl">
    <meta name="google" content="notranslate">
    <link href="{{ asset('scss/app.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/img/apple-touch-icon.png"/>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
    {% if not app.user %}
        <!-- DO NOT LOAD NAV HERE -->
    {% else %}
        <nav>
                <img src="{{ asset('img/logo_delen.svg') }}" alt="Logo">
            <a href="{{ path('logout') }}">
            </a>
        </nav>
    {% endif %}
{% block content %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" >
        function showRemarkForm() {
            document.getElementById("remarkform").classList.remove("hide");
        }
        function hideRemarkForm() {
            document.getElementById("remarkform").classList.add("hide");
        }
        function showEventForm() {
            document.getElementById("eventform").classList.remove("hide");
        }
        function hideEventForm() {
            document.getElementById("eventform").classList.add("hide");
        }
        function setVisible() {
            if(document.getElementById("eye").classList.contains("yes")){
                document.getElementById("eye").classList.remove("yes");
                document.getElementById("eyevalue").removeAttribute('checked');
            }else{
                document.getElementById("eye").classList.add("yes");
                document.getElementById("eyevalue").setAttribute('checked', 'checked');
            }
        }
        function addRemark(){
            event.preventDefault();

            document.getElementById("remarkform").classList.add("hide");
            $("ul").append('<li class="client"> <header> <img src="/img/person.png" alt=""> <section> <small>vrij 15 feb. 2018</small> <p>Alessandro Aussems</p> </section> </header> <main> <p>'+document.getElementById("remarks").value+'</p> </main> </li>');
            document.getElementById("remarks").value="";
            $('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
        }
        function addSatisfaction(){
            event.preventDefault();
            document.getElementById("satisfactionform").classList.add("hide");
            $("ul").append('<li class="client"> <header> <img src="/img/person.png" alt=""> <section> <small>vrij 15 feb. 2018</small> <p>Alessandro Aussems</p> </section> </header> <main> <div class="filler"><p>Tevredenheid: 60%</p><span class="fill" style="width: 60%"></span></div></main> </li>');
            $('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
        }
        $('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
    </script>
{% endblock %}
</body>
</html>
