<!DOCTYPE html>

<title>New Satisfaction</title>

{% block body %}
    <h1>Create new Satisfaction</h1>

    {{ include('satisfaction/_form.html.twig') }}

    <a href="{{ path('satisfaction_index') }}">back to list</a>
{% endblock %}
