body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  padding: 0.5rem;
  width: 100%;
  background-image: linear-gradient(90deg, #28648a, #004160);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > a:first-child {
  background-image: url(/img/logo_suisse.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 150px;
}

nav > a:last-child {
  margin-right: 2rem;
  color: #6ec60f;
}

.container-login {
  background-image: linear-gradient(180deg, #28648a, #004160);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh);
}

.container-login > img {
  padding-top: 2rem;
  margin: 0 auto 2rem auto;
  display: block;
  width: 20%;
}

.container-login form {
  border-radius: 4px;
  display: inline-block;
  width: 25%;
  margin-left: 37.5%;
  margin-right: 37.5%;
  background-color: #fff;
}

.container-login form label {
  color: #28648a;
  display: block;
  text-align: center;
  padding-top: 1rem;
  font-size: 22px;
  margin-bottom: 1rem;
}

.container-login form input {
  outline: none;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  border-color: #9b9b9b;
  -webkit-appearance: none;
  border-radius: 4px;
  height: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #4a4a4a;
  font-size: 18px;
  height: 50px;
  line-height: normal;
  margin-bottom: 15px;
  padding: 0 15px;
  width: 90%;
}

.container-login form > img {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container-login form button {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: #eee !important;
  border: 0 !important;
  box-shadow: none !important;
  color: #9b9b9b !important;
  cursor: default !important;
  border-radius: 4px;
  height: 2.5rem;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  outline: 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
}

.container-login form button:hover {
  cursor: pointer !important;
}

