<span class="addevent" onclick="showEventForm()"></span>
<form method="POST" id="eventform" class="hide">
    <span class="close" onclick="hideEventForm()"></span>
    <label for="events"></label>
    <select name="event">
        <option value="birth">Birth</option>
        <option value="appointment">Appointment</option>
        <option value="marriage">Marriage</option>
        <option value="new">First Contact</option>
    </select>
    <input type="date">
    <button>Toevoegen</button>
</form>
