<span class="add pullright" onclick="showRemarkForm()"></span>
<form method="POST" id="remarkform" class="hide pullright">
    <span class="close" onclick="hideRemarkForm()"></span>
    <label for="remarks">Uw opmerkingen?</label>
    <textarea id="remarks"></textarea>
    <button>Toevoegen</button>
</form>
