{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-clients clearfix">
    <ul>
        {% for client in customers|default() %}
            <li>
                <a href="{{ path('client_detail', { name: client.name|default('-'), id: client.id|default() }) }}">
                    <img src="{{ asset('/img/person.png') }}">
                    <p>{{ customer.name|default('Alexander Delen') }}</p>
                    <span></span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
