{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-clients clearfix">
    <ul>
        {#{{ manager.username|default() }}#}
        {% for c in manager.customer|default() %}
            <li>
                <a href="{{ path('client_detail', { name: c.name|default('-'), id: c.id|default() }) }}">
                    <img src="{{ asset(c.image|default('img/person.png')) }}">
                    <p>{{ c.name|default('') }}</p>
                    <span></span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
