{% extends 'layout.html.twig' %}

{% block content %}
    {% if not app.user %}
        <main>
            <div class="container-login">
                <img src="{{ asset('img/logo_delen.svg') }}" alt="Logo">

                <form method="POST" action="{{ path('login') }}">
                    <label for="_username">Gebruikersnaam</label>
                    <input id="_username" class="form-control" name="_username" value="" required autofocus>

                    <img src="{{ asset('img/digicode.png') }}" alt="Digicode">
                    <input id="password" type="password" class="form-control" name="_password" required placeholder="* * * *"><br>
                    <button type="submit" class="btn btn-primary">
                        Aanmelden
                    </button>
                </form>

            </div>
        </main>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}
